.HeaderRightAbout h2 {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 54px;
color: #F5F5F5;
text-transform: uppercase;
}
.HeaderRightAbout p {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 39px;
text-align: justify;
letter-spacing: 0.02em;
text-transform: lowercase;
max-width: 406px;
color: #F5F5F5;
padding-top: 4%;
}
.HeaderRightBtn {
    margin: 6% 0;
}
.HeaderAboutRightText {
    width: 100%;
}
@media only screen and (max-width: 1000px) {
  .HeaderAboutRightText p{
    line-height: 29px;
    font-size: 18px;
    width: 380px;
  }
  .HeaderAboutRightText {
    width: 380px;
  }
  .HeaderAboutRightText h2  {
    font-size: 38px;
  }
}
@media only screen and (max-width: 890px) {
  .HeaderAboutRightText p{
    font-size: 16px;
    width: 300px;
    line-height: 19px;
  }
  .HeaderAboutRightText {
    width: 300px;
  }
  .HeaderAboutRightText h2  {
    font-size: 32px;
  }
}
@media only screen and (max-width: 800px) {
  .HeaderAboutRightText p{
    font-size: 14px;
    width: 260px;
  }
  .HeaderAboutRightText {
    width: 260px;
  }
  .HeaderAboutRightText h2  {
    font-size: 26px;
  }
}
@media only screen and (max-width: 700px) {
  .HeaderAboutRightText p{
    font-size: 20px;
    width: 100%;
    text-align: center;
    line-height: 180%;
    margin: 0 auto !important;
    
  }
  .HeaderAboutRightText {
    width: 100%;
    text-align: center;

  }
  .HeaderAboutRightText h2  {
    font-size:26px;
    text-align: center;
  }
  .qza {
    padding:2% 30% ;
  }
}
@media only screen and (max-width: 500px) {
  .HeaderAboutRightText p{
    font-size: 16px;
    width: 100%;
    text-align: center;
    line-height: 130%;
  }
  .HeaderAboutRightText {
    width: 100%;
    text-align: center;
  }
  .HeaderAboutRightText h2  {
    font-size:22px;
    text-align: center;
  }
}
