.HeaderMySkillsContentCenterLeftText p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 39px;
text-align: justify;
letter-spacing: 0.04em;
text-transform: lowercase;
color: #F5F5F5;
}
.HeaderMySkillsContentCenterLeftText {
    width: 100%;
    padding: 0 0 0 80px;
}
.HeaderMyskillsBtn {
    margin-left: 80px;
    margin-top: 40px;
}
.HeaderMySkillsContentCenterLeft{
    width: 50%;
    margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  .MySkillsNavbar p{
    font-size: 18px;
    }
}
@media only screen and (max-width: 890px) {
  .MySkillsNavbar p{
    font-size: 16px;
    }
}
@media only screen and (max-width: 800px) {
  .MySkillsNavbar p{
    font-size: 14px;
    }
}
@media only screen and (max-width: 700px) {
  .MySkillsNavbar p{
    font-size: 20px;
  }
}
@media only screen and (max-width: 675px) {
    .HeaderMySkillsContentCenterLeft {
        width: 100%;
    }
    .HeaderMySkillsContentCenterLeftText p {
        font-size: 20px;
        width: 80%;
        text-align: center;
    }
    .HeaderMyskillsBtn {
        width: 80%;
        margin-bottom: 5%;
    }
    .HeaderMyskillsBtn button {
        width: 90%;
        
    }
}
@media only screen and (max-width: 450px) {
    .HeaderMySkillsContentCenterLeft {
        width: 100%;
    }
    .HeaderMySkillsContentCenterLeftText p {
        font-size: 16px;
        width: 80%;
        text-align: center;
    }
    .HeaderMyskillsBtn {
        width: 80%;
        margin-bottom: 5%;
    }
    .HeaderMyskillsBtn button {
        width: 80%;
        
    }
}