.MyBlogButton p{
    font-size: 29px;
}
.MyBlogButton{
    text-align: center;
    padding: 10% 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.qce {
    width: 100%;

}
@media only screen and (max-width: 450px) {
    .MyBlogButton p{
      width: 100%;
      font-size: 14px;
    }
    .MyBlogButton {
        text-align: center;
        width: 50%;
    }
}