.ll {
  width: 100%;
}
.navlogin {
  display: flex;
  padding: 10px;
}
.selectNavLogin {
  margin-top: 12px;
  margin-left: 5%;
  
}
.navlogin h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #0496ff;
}