.HeaderMain {
  background-image: url(https://res.cloudinary.com/dmm39dlkm/image/upload/v1672480889/Rectangle_3_zpkxsb.png);
  padding: 130px 80px;
  background-attachment: fixed;
  background-size: 1400px;
}
.HeaderMain div {
  width: 100%;
}
.HeaderMain div h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  color: #ffffff;
  font-size: 4vw !important;

}
.HeaderMain div h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2vw !important;
  line-height: 45px;
  color: #ffffff;
}
.HeaderMainbtn p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
}
.HeaderMainbtn {
  max-width: 270px;
}
@media only screen and (max-width: 790px) {
  .HeaderMain {
    text-align: center;
  }
  .HeaderMainbtn  {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  .HeaderMain div h1{
  font-size: 7vw !important;
  }
  .HeaderMain div h2{
  font-size: 6vw !important;
  }
  .HeaderMainbtn p {
    font-size: 4vw;
  }
  .HeaderMain div {
    padding: 0  2%;
  }
}