.PopularPostTags {
    width: 100%;
    padding: 5% 0;
}
.PopularPostTags h2 {
    color: #fff;
    padding: 2% 0;
    font-size: 2vw !important;
    font-weight: 700;
}
.PopularPostTagsp{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.PopularPostTagsp a{
    color: #fff;
    border: 1px solid #fff;
    transition: 0.4s;
    padding: 1% 2% 1% 2%;
    margin: 2%;
    font-size: 1.5vw !important;
}
.PopularPostTagsp a:hover{
    background: #fff;
    color: #000;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}