.MyBlogRightICons {
    max-width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    border: 1px solid #fff;
}
.Iconsdiv {
    width: 33%;
}
.Iconsdiv h1 {
    color: #DADEE8;
    font-size: 5vw;
    transition: 0.3s;
}
.Iconsdiv h1:hover {
    color: #fff;
}