.ArchiveMain {
    background-image: url(https://res.cloudinary.com/dmm39dlkm/image/upload/v1672480889/Rectangle_3_zpkxsb.png);
    background-size: cover;
    padding: 10%;
    text-align: center;
    color: #fff;
    font-size: 45px;
}
